@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.image {
  border-radius: 50px;
  height: 45px;
  width: 45px;
  /* overflow: hidden; */
  object-fit: fill;
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 35px;
  background: #000000da; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000 #434343
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000 #434343);

  /* text-transform: uppercase; */
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
  margin-right: 20px;
  margin-left: 20px;

  font-family: "Rubik", sans-serif;

  text-transform: uppercase;
}

.active {
  border-bottom: 2px solid white;
}

.navbar-brand {
  font-size: 1.7rem;
  /* font-weight: 600; */

  font-family: "Lobster", cursive;
  /* letter-spacing: 1px; */
}
.margin {
  margin-left: 200px;
}
.search {
  /* margin-left: 400px; */
  height: 40px;
  width: 100%;
  border-radius: 50px;
  outline: none;
  margin-right: -35px;
  font-family: "Rubik", sans-serif;
  border: 2px solid rgb(248, 26, 92);
}
.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  border-radius: 50px;
  background: rgb(248, 26, 92);

  font-weight: 700;
}

.search-form {
  /* margin-left: 500px; */
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  /* margin-left: 500px; */
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

/* =============================
==========footer============= */

.footer {
  color: white;
  padding: 20px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}
/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}
